
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.center {
  width: 50%;
}
.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:link {
  color: rgb(235, 235, 235);
  text-decoration: none;
  background-color: transparent;
}

a:active {
  color: rgb(235, 235, 235);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: rgb(255, 77, 77);
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: rgb(255, 77, 77);
  text-decoration: none;
  background-color: transparent;
}

p {
  color: rgb(235, 235, 235);
  font-size: 20px;
}

ul {
  font-size: 22px;
}

h1 {
  font-family: "Courier New", monospace;
}
